{% extends 'inventory/base.html' %}
{% load static %}
{% block inventario %}
<div class="container">

                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Informacion de inventario</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID.</th>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">PRECIO COMPRA</th>
				    <th scope="col">PRECIO PONDERADO</th>
                                    <th scope="col">PRECIO VENTA</th>
                                    <th scope="col">CANTIDAD</th>
                                    <th scope="col">CATEGORIA</th>
                                </tr>
                            </thead>
                            <tbody>
			      {% for producto in productos%}
				<tr>
				  <th scope="row"><b>{{producto.id}}</b></th>
                                    <td>
				      <a href="{% url  'inventory:change'  producto.id %}"> <b>{{producto.nombre}}</b> </a>
				    </td>
				    <td><b>{{producto.precio_compra}}</b></td>
				    <td><b>{{producto.costo_promedio}}</b></td>
				    <td><b>{{producto.precio_venta}}</b></td>
				    <td><b>{{producto.cantidad_actual}}</b></td>
				    <td><b>{{producto.id_categoria.nombre_categoria}}</b></td>
                                </tr>
				{% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
         
{% endblock %}
